<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h2>Edit form</h2>
    <form action="/listings/<%= item._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
        <input type="text" name="listing[title]" class="form-control" value="<%=item.title%>">
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control"><%= item.description %></textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Enter image link</label>
        <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Enter price</label>
            <input type="number" name="listing[price]" class="form-control" value="<%= item.price %>">
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" value="<%= item.country %>">
            </div>
        </div>
       
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]"class="form-control" value="<%= item.location %>">
        </div>
        
        <button class="btn btn-dark add-btn">Edit listing</button>
    </form>
    <br>
        </div>
    </div>
    
</body>
